.basicButton {
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.primary {
  background-color: #6171d2;
}

.secondary {
  color: #6171d2;
  border: solid 1px #6171d2;
  background-color: #ffffff;
}

.sm {
  padding: 8px 10px;
  font-size: 14px;
}

.md {
  padding: 15px 20px;
  font-size: 16px;
}

.lg {
  padding: 20px 25px;
  font-size: 18px;
}
