@import '~/styles/variables.scss';
.basicButton {
  color: $text-white;
  border: none;
  border-radius: 3px;
}

.primary {
  background-color: $primary-color;
}

.secondary {
  color: $primary-color;
  border: solid 1px $primary-color;
  background-color: #ffffff;
}

.sm {
  padding: 8px 10px;
  font-size: 14px;
}

.md {
  padding: 15px 20px;
  font-size: 16px;
}

.lg {
  padding: 20px 25px;
  font-size: 18px;
}
