.layoutWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 100vh;

  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
