$primary-color: #6171d2;

$text-white: #ffffff;
$text-black: #000000;

$border-gray: #808080;

$status-color-not-start: orange;
$status-color-in-progress: rgb(255, 72, 72);
$status-color-complete: rgb(45, 203, 45);
